In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df = pd.read_csv('data/zillow_data.csv')
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [18]:
df2 = df.groupby('RegionName').median()
df2.drop(['RegionID','SizeRank'], axis=1, inplace=True)
df2

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
RegionName,,,,,,,,,,,,,,,,,,,,,
1001,113100.0,112800.0,112600.0,112300.0,112100.0,111900.0,111800.0,111700.0,111700.0,111900.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
1002,161000.0,160100.0,159300.0,158600.0,158000.0,157500.0,157200.0,157100.0,157200.0,157500.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
1005,103100.0,103400.0,103600.0,103800.0,103900.0,104100.0,104300.0,104500.0,104800.0,105200.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
1007,133400.0,132700.0,132000.0,131400.0,130800.0,130400.0,130300.0,130200.0,130400.0,130700.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
1008,117500.0,117300.0,117100.0,117000.0,116800.0,116700.0,116600.0,116500.0,116400.0,116400.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99709,103000.0,103900.0,104700.0,105500.0,106200.0,106900.0,107500.0,108100.0,108800.0,109600.0,...,260100,260700,261500,262000,262400,262800,262800,262300,262000,262400
99712,109200.0,109600.0,110000.0,110400.0,110800.0,111200.0,111600.0,112000.0,112600.0,113200.0,...,268800,270000,271300,272500,273200,273500,273800,273800,273900,274600
99801,166800.0,166200.0,165400.0,164400.0,163500.0,162500.0,161500.0,160500.0,159700.0,159000.0,...,398600,397800,398200,398800,399800,402300,406200,409800,412600,413300
99835,155500.0,154900.0,154200.0,153500.0,152800.0,152200.0,151600.0,151100.0,150800.0,150600.0,...,379500,381800,383600,386600,391300,396200,397500,398900,402100,404800
99901,117100.0,117200.0,117300.0,117400.0,117500.0,117700.0,117800.0,118100.0,118400.0,118800.0,...,285400,286100,285800,286300,288800,291900,294200,297500,302100,305100